VITE_FIREBASE_API_KEY=AIzaSyBi8VvGd8uxKuf_g9kxn3Xk9iCZQpR4YHg
VITE_FIREBASE_AUTH_DOMAIN=tasklist-5d2f8.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://tasklist-5d2f8-default-rtdb.firebaseio.com/
VITE_FIREBASE_PROJECT_ID=tasklist-5d2f8
VITE_FIREBASE_STORAGE_BUCKET=tasklist-5d2f8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=554850504631
VITE_FIREBASE_APP_ID=1:554850504631:web:b7edcc3185a97b936ba232
VITE_FIREBASE_MEASUREMENT_ID=G-Y44NECHD70
